.container {
    display: fixed;
    justify-content: center;
    align-items: center;
  }
  
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('trepando.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    padding: 20px;
    border-radius: 5px;
  }
/*background: linear-gradient(to bottom, #ffffff, #e6e6e6);    rgb(140, 247, 178);*/
.gameImg {
  display:inline-block;
  margin-top: 10px;
  width: 500px;
  height: 300px;
  border-radius: 17px;
}

.fuente {
  color: rgb(0, 0, 0);
}
.size{
  font-weight: bold;
  font-size: medium
}

.lista {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista li {
  flex: 1;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
