.paginado{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 0.5rem;
  }
  
  .btn {
    background: rgba(140, 247, 178, 0.765);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .btnSelec {
    background: rgba(91, 158, 114, 0.785);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .btn:disabled {
    background-color: rgba(112, 109, 109, 0.583);
    cursor: not-allowed;
  }
  
  .btn:active {
    background-color: rgba(115, 202, 146, 0.85);
  }
  
  
  
  