.paginado{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  li {
    margin: 0 0.5rem;
  }
  
  .btn {
    background: rgba(140, 247, 178, 0.765);
    cursor: pointer;
    font-size: 16px; 
    margin-right: 16px; 
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .btnSelec {
    background: rgba(91, 158, 114, 0.785);
    cursor: pointer;
    font-size: 16px; 
    margin-right: 16px; 
    padding: 8px 16px;
    border-radius: 5px;
  }

  .btn:disabled {
    display: none;
  }
  
  .btn:hover {
    background-color: rgba(115, 202, 146, 0.85);
    transform: scale(1.1)
  }

  .flechaIzq {
    background: rgba(140, 247, 178, 0.765);
    cursor: pointer;
    font-size: 16px; 
    margin-right: 16px;
    border-radius: 5px;
    transform: scaleX(-1);
  }

  .flechaIzq:disabled {
    display: none;
  }
  
  .flechaIzq:hover {
    background-color: rgba(115, 202, 146, 0.85);
    transform: scale(1.1);
    transform: scaleX(-1)
  }

  .flechaDer {
    background: rgba(140, 247, 178, 0.765);
    cursor: pointer;
    font-size: 16px; 
    margin-right: 16px;
    border-radius: 5px;
  }

  .flechaDer:disabled {
    display: none;
  }
  
  .flechaDer:hover {
    background-color: rgba(115, 202, 146, 0.85);
    transform: scale(1.1)
  }
  
  
  
  