.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('./fondohome.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
  }