.landing{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('landing.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto; 
}

.btn{ 
  border-radius: 4px;
  background-color: rgb(140, 247, 178);
  width: 150px;
  height: 50px;
  color: black;
  cursor: pointer;
  font-size: 18px; 
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  }