.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .btn{
    width: 260px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
  }

  /* .btn::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    pointer-events: none;
  } */